# Percabangan dan Perulangan

#### Introduction to the if statement

In [1]:
x = 0
y = 5

if x < 5:               #truthy
    print('yes')
    
if y < x:              #falsy
    print('yes')
    
if x:                  #falsy
    print('yes')
    
if y:                  #truthy
    print('yes')
    
if 'aul' in 'grault':  #truthy
    print('yes')

yes
yes
yes

#### Grouping Statement : Indentation and Blocks

In [2]:
if 'foo' in ['bar','baz','qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [3]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')
    
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

#### The else and elif Clauses

In [4]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
    
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [5]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
elif uang > hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang tidak cukup

#### One-Line if Statements

In [7]:
if 'f' in 'foo' : print('1'); print('2'); print('3')

1
2
3

In [8]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

#### Conditional Expressions (Python Ternary Operator)

In [9]:
raining = False

print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [10]:
raining = True

print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

#### The Python pass Statement

In [11]:
if True:
    pass
print('foo')

foo

#### Python "while" Loops

In [12]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [13]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

#### The python break and continue Statements

In [14]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break  #break statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [15]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

#### The else Clause

In [16]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [17]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

#### Nested while Loops

In [ ]:
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age <= 65:
    if gender = 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [21]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

#### The Python for Loop

In [22]:
d = {'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [23]:
for k in d:
    print(d[k])

1
2
3

In [24]:
for k in d.values():
    print(k)

1
2
3

In [25]:
for k,v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

#### The range() Function

In [26]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [27]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

## Contoh Penggunaan

In [29]:
temp = input('Ketikkan temperatur yang ingin dikonversi, eg. 45F, 120C: ')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == 'C':
    result = int(round((9 * degree) / 5+32))
elif i_convertion == 'F':
    result = int(round((degree - 32) * 5 / 9))
else:
    print('Masukkan input yang benar')
    
print('temperaturnya adalah ', result, ' derajat')

Ketikkan temperatur yang ingin dikonversi, eg. 45F, 120C: 50C
temperaturnya adalah  122  derajat